{% extends "templates/template_all.html" %}

{% import 'templates/component/comp_tutor.html' as compTutor %}
{% import 'templates/component/comp_testimonial.html' as compTestimony %}
{% import 'templates/component/comp_accordion_item.html' as accordion %}

{% block head %}
<link rel="stylesheet" type="text/css" href="assets/css/skolaexpert_dp.css" />
{% endblock %}

{% block content %}


<!--  start section sc-1 mobile version -->
<section id="sc1-mobile" class="bg-light adjust-nav"> 
  <div class="container">
    <div class="row">
      <div class="column colsc1a">
        <h1 class="fw-bold" style="text-transform: uppercase">{{ expertDetail.hero.title }}</h1>
        <h3>{{ expertDetail.text }}</h3>
        <a href="#sc7-mobile" class="btn-sc1a"><button>Daftar Sekarang</button></a>
        <a href="{{ expertDetail.wa }}" class="btn-sc1a"><button>Hubungi Kami</button></a> 
      </div>
    </div>
  </div>
</section>
<!--  End section sc-1  -->

<!--  start section sc-1 desktop version -->
<section id="sc1-desktop" style="background-image: url('{{ expertDetail.hero.image }}');" class="d-flex align-items-center"> 
  <div class="container">
    <div class="row"> 
      <div class="column colsc1a adjust-nav">
        <h1 class="fw-bold" style="text-transform: uppercase">{{ expertDetail.hero.title }}</h1>
        <h3>{{ expertDetail.hero.text }}</h3>
        <div class="d-flex align-items-center justify-content-center">
          <a href="#sc7-desktop" class="btn-sc1a"><button>Daftar Sekarang</button></a>
          <a href="{{ expertDetail.wa }}" class="btn-sc1b" target="_blank"><button>Hubungi Kami</button></a> 
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc-1  -->

<!--  start section sc-2  -->
<section id="sc2">
  <div class="container">
    <div class="row  rowb-sc2a">
        <h1>Tentang Program</h1>
    </div>
    <div class="row  rowb-sc2b">
      <div class="col-md-7">
        <p class="sc2-p1a">{{ expertDetail.about.text }}</p>
        <p class="sc2-p1b"><b>{{ expertDetail.about.time | safe }}</b></p>
        <p class="sc2-p1c">{{ expertDetail.about.place | safe }}</p>
      </div>
      <div class="col-md-5 bariskol2">
        <div class="row bar2kol1">
         <div class="col-md-4">
           <img src="{{ expertDetail.about.tutor.image }}" />
         </div>
         <div class="col-md-6 keterangan">
          <h5>{{ expertDetail.about.tutor.name }}</h5>
          <p class="lh-base">{{ expertDetail.about.tutor.desc | safe }}</p>           
         </div>
        </div>
        <div class="row bar2kol2">
          <hr/>
          <p class="fw-bold mt-2">Kelas ini cocok untuk:</p>
          <p>{{ expertDetail.about.member | safe }}</p>
        </div>
      </div>
      <div class="col-md-5 bariskol2-mobile">
        <div class="row bar2kol1">
          <div class="col-sm-5">
            <img src="{{ expertDetail.about.tutor.image }}" />
          </div>
          <div class="col-sm-7">
            <h5 class="align-items-center">{{ expertDetail.about.tutor.name }}</h5>
            <p class="bar2kol1-p1 align-items-end">{{ expertDetail.about.tutor.desc | safe }}</p>           
          </div> 
        </div>
        <div class="row bar2kol2-mobile">
          <p class="psc2a-mobile">Kelas ini cocok untuk:</p>
          <p class="psc2b-mobile">{{ expertDetail.about.member | safe }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  end section sc-2  -->

<!--  start section sc-3  -->
<section id="sc3" class="kurikulum-dekstop">
  <div class="container">
    <div class="row accordion" id="accordionExample">
      <div class="col-md-4 d-grid align-self-center">
        <h1>Kurikulum</h1>
        <p>Kurikulum lengkap sesuai kebutuhan industri dengan waktu belajar efektif.</p>
      </div>
      <div class="col-md-4">
          
          {% for item in expertDetail.kurikulum.left %}
          {{ accordion.fragment(item, loop.index) }}
          {% endfor %}

      </div>
      <div class="col-md-4">
          {% for item in expertDetail.kurikulum.right %}
          {{ accordion.fragment(item, loop.index + expertDetail.kurikulum.left.length ) }}
          {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--  End section sc-3  -->

<!--  start section sc-3 mobile-version -->
<section class="bg-light kurikulum-mobile">
  <div class="container"> 
    <div class="row">
      <div class="col-md-4">
        <h1>Kurikulum</h1>
        <p>Kurikulum lengkap sesuai kebutuhan industri dengan waktu belajar efektif.</p>
      </div>
      <div class="col-md-4 colsc3b">
        <div class="accordion" id="accordionExample">
          {% for item in expertDetail.kurikulum.left %}
          {{ accordion.fragment(item, loop.index) }}
          {% endfor %}

          {% for item in expertDetail.kurikulum.right %}
          {{ accordion.fragment(item, loop.index + expertDetail.kurikulum.left.length ) }}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc-3  -->

<!--  Start section sc-5  -->
<section id="sc5" class="bg-light">
  <div class="container">
    <div class="row">
      <h1>Keuntungan Belajar di Digital Skola</h1>
    </div>
    <div class="row mt-5 sc-5b">
      <div class="col-md-3">
        <div class="card-sc5a text-center">
          <img src="assets/icon/sertifikat.png" />
          <h3>Sertifikat</h3>
          <p>Setiap lulusan SkolaExpert akan mendapatkan sertifikat sebagai bukti penguasaan keahlian.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-sc5a text-center">
          <img src="assets/icon/fokuspraktik.png" />
          <h3>Fokus pada Praktik</h3>
          <p>Sesi belajar fokus pada praktik membuat penguasaan skill lebih mudah.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-sc5a text-center">
          <img src="assets/icon/waktubelajar.png" />
          <h3>Waktu Belajar Efektif</h3>
          <p>Kuasai skill dalam waktu belajar yang singkat namun efektif.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-sc5a text-center">
          <img src="assets/icon/sesireview.png" />
          <h3>Sesi Review Khusus</h3>
          <p>Sesi review khusus untuk semua peserta untuk memastikan skill telah berhasil dikuasai.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc-5  -->

<!--  Start section sc-5  Mobile-->
<section class="benefit-mobile">
  <div class="container">
    <div class="row">
      <h1>Keuntungan Belajar di Digital Skola</h1>
    </div>
    <div class="row mt-5 sc-5b">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Sertifikat
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Setiap lulusan SkolaExpert akan mendapatkan sertifikat sebagai bukti penguasaan keahlian.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Fokus pada Praktik
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Sesi belajar fokus pada praktik membuat penguasaan skill lebih mudah.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Waktu Belajar Efektif
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Kuasai skill dalam waktu belajar yang singkat namun efektif.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">Sesi Review Khusus
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Sesi review khusus untuk semua peserta untuk memastikan skill telah berhasil dikuasai.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc-5  -->

<!-- Start Section sc6 Testimonials -->
<section class="testimonials">
  <div class="bg-wds-right"></div>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 testimoni1">
        <i class="fas fa-quote-left"></i>
        <h1 class="mb-3 testimoni1">Apa Kata Mereka</h1>
        <p class="testimoni1a">Mari kita lihat kesan - kesan mereka yang sudah<br/> pernah mengikuti program di Digital Skola.</p>
      </div>
      <div class="col-md-6 shadow kotakputih">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for testi in expertDetail.testimony %}
              {% if loop.index == 1 %}
                {{ compTestimony.desktop(testi, 'active') }}
              {% else %}
                {{ compTestimony.desktop(testi) }}
              {% endif %}
            {% endfor %}
          </div>
          <div class="testi-prev-next-control">
            <button class="carousel-control-prev" data-bs-target="#carouselExampleSlidesOnly"  data-bs-slide="prev" role="button">
              <img src="assets/img/panah-kiri.png" />
            </button>
            <button class="carousel-control-next" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next" role="button">
              <img src="assets/img/panah-kanan.png" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section sc6 Testimonials -->

<!-- Start Section Testimonials Mobile version -->
<section class="testimoniMobile bg-light">
  <div class="container">
    <div class="testimoni1">
      <h1 class="testimoni1">Apa Kata <span class="garis-testimoni">Mereka</span></h1>
    </div>
        <div id="carouselExampleSlidesOnlytestimonimb" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            {% for testi in expertDetail.testimony %}
              {% if loop.index == 1 %}
                {{ compTestimony.mobile(testi, 'active') }}
              {% else %}
                {{ compTestimony.mobile(testi) }}
              {% endif %}
            {% endfor %}
          </div>
          <div class="testi-prev-next-control">
            <button class="carousel-control-prev" data-bs-target="#carouselExampleSlidesOnlytestimonimb" data-bs-slide="prev" role="button">
              <img src="assets/img/panah-kiri.png" />
            </button>
            <button class="carousel-control-next" data-bs-target="#carouselExampleSlidesOnlytestimonimb" data-bs-slide="next" role="button">
              <img src="assets/img/panah-kanan.png" />
            </button>
          </div>
        </div>
  </div>
</section>
<!-- End Section Testimonials -->

<!--  start section sc7 Call TO Action mobile version -->
<section class="pos-rel-m">
  <div class="hidden-anchor" id="sc7-mobile"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="cta shadow">
          <p class="text-center fs-5 mt-2 fw-bold">SKOLAEXPERT</p>
          <h2 class="text-center" style="background-image: url('assets/img/redline2.png');">{{ expertDetail.register.price.amount }}</h2>
          <h1 class="text-center fw-bold mb-3">{{ expertDetail.register.price.discount }}</h1>
          <button class="accordionsc7 fw-bold"><i class="fas fa-chevron-down me-3"></i>Detail Kelas</button>
          <div class="panelsc7 mt-2">
            <ul>
              {% for item in expertDetail.register.detail %}
              <li>{{item}}</li>
              {% endfor %}
            </ul>
          </div>
          <button class="accordionsc7 fw-bold"><i class="fas fa-chevron-down me-3"></i>Benefit Kelas</button>
          <div class="panelsc7 mt-2">
            <ul>
              {% for item in expertDetail.register.benefit %}
              <li>{{item}}</li>
              {% endfor %}     
            </ul>
          </div>
          <button class="accordionsc7 fw-bold"><i class="fas fa-chevron-down me-3"></i>Pembayaran</button>
          <div class="panelsc7 mt-2">
            <ul>
              <li>Pembayaran reguler melalui Digital Skola</li>
            </ul>
          </div>
          <div class="row">
            <a href="{{ expertDetail.register.url }}" class="btn-sc7a text-center"><button>Daftar Sekarang</button></a>
            <a href="{{ expertDetail.wa }}" class="btn-sc7b text-center"><button>Hubungi Kami</button></a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc7 Call TO Action  -->

<!--  start section sc7 Call TO Action desktop version -->
<section class="pos-rel">
  <div class="hidden-anchor" id="sc7-desktop"></div>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 sc7-col1">
        <h1 class="sc7-h1">{{ expertDetail.register.title }}</h1>
        <p class="sc7-p">Jangan tunda lagi. Hubungi kami untuk konsultasi terkait kelas ini.</p>
      </div>
      <div class="col-md-6">
        <div class="cta shadow">
          <p class="text-center fs-5 mt-2 fw-bold">SKOLAEXPERT</p>
          <h2 class="text-center">{{ expertDetail.register.price.amount }}</h2>
          <h1 class="text-center fw-bold mb-3">{{ expertDetail.price.discount }}</h1>
          <button class="accordionsc7 fw-bold"><i class="fas fa-chevron-down me-3"></i>Detail Kelas</button>
          <div class="panelsc7 mt-2">
            <ul>
              {% for item in expertDetail.register.detail %}
              <li>{{item}}</li>
              {% endfor %}
            </ul>
          </div>
          <button class="accordionsc7 fw-bold"><i class="fas fa-chevron-down me-3"></i>Benefit Kelas</button>
          <div class="panelsc7 mt-2">
            <ul>
              {% for item in expertDetail.register.benefit %}
              <li>{{item}}</li>
              {% endfor %}           
            </ul>
          </div>
          <button class="accordionsc7 fw-bold"><i class="fas fa-chevron-down me-3"></i>Pembayaran</button>
          <div class="panelsc7 mt-2">
            <ul>
              <li>Pembayaran reguler melalui Digital Skola</li>
            </ul>
          </div>
          <div class="row">
            <a href="{{ expertDetail.register.url }}" class="btn-sc7a text-center"><button>Daftar Sekarang</button></a>
            <a href="{{ expertDetail.wa }}" class="btn-sc7b text-center" target="_blank"><button>Hubungi Kami</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc7 Call TO Action  -->

{% endblock %}

{% block script %}
<script>
  var acc = document.getElementsByClassName("accordionsc7");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>
{% endblock %}