{% extends "templates/template_all.html" %}

{% import 'templates/component/comp_tutor.html' as compTutor %}
{% import 'templates/component/comp_testimonial.html' as compTestimony %}
{% import 'templates/component/comp_accordion_item.html' as accordion %}

{% block head %}
<link rel="stylesheet" type="text/css" href="assets/css/sc_general.css" />
{% endblock %}

{% block content %}


<!--  start section sc-1  -->
<section id="sc1" class="bg-light d-flex align-items-center"> 
  <div class="container adjust-nav">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 colsc1a">
        <h1 class="fw-bold">SKOLACLASS<br/><span style="color: #fcb628;">{{ kelasDetail.name }}</span></h1>
        <p class="psc1">{{ kelasDetail.hero.desc}} </p>
        <p class="psc2">Kelas: {{ kelasDetail.hero.time }}</p>
        <p class="pb-4">{{ kelasDetail.hero.place | safe }}</p>
        <a class="btn-sc1a" href="#sc7-desktop"><button>Daftar Sekarang</button></a>
        <a href="{{ kelasDetail.wa }}" class="btn-sc1b" target="_blank"><button>Hubungi Kami</button></a>
      </div>
      <div class="col-md-6 colsc1">
        <img src="{{ kelasDetail.hero.image }}" class="img-thumbnail shadow">
      </div>
    </div>
  </div>
</section>
<!--  End section sc-1  -->

<!--  start section sc-1 Mobile Version -->
<section class="sc1-mobile adjust-nav"> 
  <div class="container">
    <div class="row">
      <div class="colsc1a text-center">
        <h1 class="fw-bold">SKOLACLASS<br/><span style="color: #fcb628;">{{ kelasDetail.hero.title }}</span></h1>
        <p class="psc1">{{ kelasDetail.hero.desc }}</p>
        <p class="psc2">Kelas: {{ kelasDetail.hero.time }}</p>
        <p class="pb-4">{{ kelasDetail.hero.place | safe }}</p>
        <a class="btn-sc1a" href="#sc7-mobile"><button>Daftar Sekarang</button></a>
        <a href="{{ kelasData.hero.wa }}" class="btn-sc1a"><button>Hubungi Kami</button></a>
      </div>
    </div>
  </div>
</section>
<!--  End section sc-1  -->

<!--  start section sc-2  -->
<section id="sc2">
  <div class="container">
    <div class="row">
    <h1 class="text-center sc2h1">{{ kelasDetail.why.title }}</h1>
    </div>
    <div class="row mt-3 rowb-sc2">
      {% for whyItem in kelasDetail.why.list %}

      <div class="col-md-4">
        <div class="card-border text-center kartu">
          <img src="{{ whyItem.image }}" class="rounded-circle text-center" />
          <div class="card-body">
            <h5 class="card-title text-center"><strong>{{ whyItem.title | safe }}</strong></h5>
            <p>{{whyItem.text}}</p>
          </div>
        </div>
      </div>
      {% endfor %}   
    </div>
  </div>
</section>
<!--  end section sc-2  -->

<!--  start section sc-3  -->
<section id="sc3" class="bg-light">
  <div class="container">
    <div class="row accordion" id="accordionExample">
      <div class="col-md-4 d-grid align-self-center">
        <h1>Modul Pembelajaran</h1>
        <p>{{ kelasDetail.modul.desc }}</p>
      </div>
      <div class="col-md-4">
          
          {% for item in kelasDetail.modul.left %}
          {{ accordion.fragment(item, loop.index) }}
          {% endfor %}
      </div>

      <!-- ================================ column 2 ========================================== -->

      <div class="col-md-4">
          {% for item in kelasDetail.modul.right %}
          {{ accordion.fragment(item, loop.index + kelasDetail.modul.left.length) }}
          {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--  End section sc-3  -->

<!--  Start section sc-4  -->
<section id="sc4" class="tutor tutor-dekstop">
  <div class="container">
    <div class="row pb-5">
      <h1 class="text-center"><span class="judul-sc4">Tutor Kami</span></h1>
    </div>
    <div class="row box-tutor">
      <div class="owl-carousel owl-theme" >
        {% for tutor in kelasDetail.tutor %}
        {{ compTutor.desktop(tutor) }}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!--  End section sc-4  -->

<!-- start section sc-4-mobile version -->
<section class="tutor tutor-mobile">
  <div class="container">
      <div class="row pb-5">
        <h1 class="text-center"><span style="border-bottom: 5px solid #EF9B23;">Tutor Kami</span></h1>
      </div>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          
          {% for tutor in kelasDetail.tutor %}
            {% if loop.ondex == 1 %}
              {{ compTutor.mobile(tutor, 'active') }}
            {% else %}
              {{ compTutor.mobile(tutor, 'active') }}
            {% endif %}
          {% endfor %}

          </div>
        </div>
        <div class="tutor-mbl-nav">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <img src="assets/img/panah-kiri.png" />
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <img src="assets/img/panah-kanan.png" />
          </button>
        </div>
      </div>
  </div>
</section>
<!-- End section sc-4-mobile version -->

<!--  Start section sc-5  -->
<section id="sc5" class="bg-light benefit-ds">
  <div class="container">
    <div class="row">
      <h1>Keuntungan Belajar di Digital Skola</h1>
    </div>
    <div class="row mt-5 sc-5b">
      <div class="col-md-3">
        <div class="card-sc5a text-center">
          <img src="assets/icon/project_implementation.png" />
          <h3>Project<br/>Implementation</h3>
          <p>Bangun portofolio melalui project yang diselesaikan selama proses belajar dengan bimbingan tutor.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-sc5a text-center">
          <img src="assets/icon/profesional_branding.png" />
          <h3>Professional<br/>Branding</h3>
          <p>Bantuan membangun professional branding agar profilmu makin menarik bagi para rekruter.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-sc5a text-center">
          <img src="assets/icon/internship_program.png" />
          <h3>Internship<br/>Program</h3>
          <p>Program magang untuk mempraktikkan ilmu yang telah dipelajari sekaligus menambah portofolio sebagai profesional.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card-sc5a text-center">
          <img src="assets/icon/job_connector.png" />
          <h3>Connecting<br/>the Jobs</h3>
          <p>Bantuan penyaluran kerja untuk semua alumni SkolaClass melalui hiring partners Digital Skola.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc-5  -->

<!--  Start section sc-5  Mobile-->
<section class="bg-light benefit-mobile">
  <div class="container">
    <div class="row">
      <h1>Keuntungan Belajar di Digital Skola</h1>
    </div>
    <div class="row mt-4 sc-5b">
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Project Implementation
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Bangun portofolio melalui project yang diselesaikan selama proses belajar dengan bimbingan tutor.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Professional Branding
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Bantuan membangun professional branding agar profilmu makin menarik bagi para rekruter.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Internship Program
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Program magang untuk mempraktikkan ilmu yang telah dipelajari sekaligus menambah portofolio sebagai profesional.</div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">Connecting the Jobs
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Bantuan penyaluran kerja untuk semua alumni SkolaClass melalui hiring partners Digital Skola.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc-5  -->

<!-- Start Section sc6 Testimonials -->
<section class="testimonials">
  <div class="bg-wds-right"></div>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 testimoni1">
        <i class="fas fa-quote-left"></i>
        <h1 class="mb-3 testimoni1">Apa Kata Mereka</h1>
        <p class="testimoni1a">Mari kita lihat kesan - kesan mereka yang sudah<br/> pernah mengikuti program di Digital Skola.</p>
      </div>
      <div class="col-md-6 shadow kotakputih">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
                        
            {% for item in kelasDetail.testimony %}
              {% if loop.index == 1 %}
                {{ compTestimony.desktop(item, 'active') }}
              {% else %}
                {{ compTestimony.desktop(item) }}
              {% endif %}
            {% endfor %}

          </div>
          <div class="testi-prev-next-control">
            <button class="carousel-control-prev" data-bs-target="#carouselExampleSlidesOnly"  data-bs-slide="prev" role="button">
              <img src="assets/img/panah-kiri.png" />
            </button>
            <button class="carousel-control-next" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next" role="button">
              <img src="assets/img/panah-kanan.png" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Section sc6 Testimonials -->

<!-- Start Section Testimonials Mobile version -->
<section class="testimoniMobile">
  <div class="container">
    <div class="testimoni1">
      <h1 class="testimoni1">Apa Kata <span class="garis-testimoni">Mereka</span></h1>
    </div>
    <div id="carouselExampleSlidesOnlytestimonimb" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% for item in kelasDetail.testimony %}
          {% if loop.index == 1 %}
            {{ compTestimony.desktop(item, 'active') }}
          {% else %}
            {{ compTestimony.desktop(item) }}
          {% endif %}
        {% endfor %}
      </div>
      <div class="testi-prev-next-control">
        <button class="carousel-control-prev" data-bs-target="#carouselExampleSlidesOnlytestimonimb" data-bs-slide="prev" role="button">
          <img src="assets/img/panah-kiri.png" />
        </button>
        <button class="carousel-control-next" data-bs-target="#carouselExampleSlidesOnlytestimonimb" data-bs-slide="next" role="button">
          <img src="assets/img/panah-kanan.png" />
        </button>
      </div>
    </div>
  </div>
</section>
<!-- End Section Testimonials -->

<!-- ======================================================================================================= -->

<!--  start section sc7 Call TO Action desktop -->
<section class="pos-rel">
  <div class="hidden-anchor" id="sc7-desktop"></div>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-6 sc7-col1">
        <h1 class="sc7-h1">{{ kelasDetail.register.title | safe }}</h1>
        <p class="sc7-p">Ayo mulai perjalanan karier-mu bersama Digital Skola, untuk mendaftar kelas klik "Daftar Sekarang" atau untuk info lebih lanjut klik "Hubungi Kami"</p>
      </div>
      <div class="col-md-6">
        <div class="cta shadow">
          <p class="text-center fs-5 mt-2 fw-bold sc7-p-dekstop">SKOLACLASS {{ kelasDetail.name }}</p>
          <h1 class="text-center fw-bold mb-3">{{ kelasDetail.register.price }}</h1>
          <button class="accordionsc7 fw-bold"><i class="fas fa-chevron-down me-3"></i>Detail Kelas</button>
          <div class="panelsc7 mt-2">
            <ul>
              {% for item in kelasDetail.register.detail %}
              <li>{{item | safe}}</li>
              {% endfor %}
            </ul>
          </div>
          <button class="accordionsc7 fw-bold"><i class="fas fa-chevron-down me-3"></i>Benefit Kelas</button>
          <div class="panelsc7 mt-2">
            <ul>
              {% for item in kelasDetail.register.benefit %}
              <li>{{item | safe}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="row">
            <a href="{{ kelasDetail.register.url }}" class="btn-sc7a text-center"><button>Daftar Sekarang</button></a>
            <a href="{{ kelasDetail.wa }}" class="btn-sc7b text-center" target="_blank"><button>Hubungi Kami</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc7 Call TO Action  -->

<!--  start section sc7 Call TO Action mobile -->
<section class="pos-rel-m bg-light">
  <div class="hidden-anchor" id="sc7-mobile"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="cta shadow">
          <p class="text-center fs-5 mt-2 fw-bold sc7-p-mobile">SKOLACLASS <br/>{{ kelasDetail.name }}</p>
          <h1 class="text-center fw-bold mb-3">{{ kelasDetail.price.register }}</h1>
          <button class="accordionsc7 fw-bold"><i class="fas fa-chevron-down me-3"></i>Detail Kelas</button>
          <div class="panelsc7 mt-2">
            <ul>
              {% for item in kelasDetail.register.detail %}
              <li>{{item | safe}}</li>
              {% endfor %}
            </ul>
          </div>
          <button class="accordionsc7 fw-bold"><i class="fas fa-chevron-down me-3"></i>Benefit Kelas</button>
          <div class="panelsc7 mt-2">
            <ul>
              {% for item in kelasDetail.register.benefit %}
              <li>{{item | safe}}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="row">
            <a href="{{ kelasDetail.register.url }}" class="btn-sc7a text-center"><button>Daftar Sekarang</button></a>
            <a href="{{ kelasDetail.wa }}" class="btn-sc7b text-center"><button>Hubungi Kami</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc7 Call TO Action  -->

<!--  Start section sc8 Pembayaran  -->
<section id="sc8">
  <div class="container">
    <div class="row">
      <h1 id="sc8-h1">Metode Pembayaran</h1>
      <p class="sc8-p">Pilih metode pembayaran yang sesuai dengan pilihanmu</p>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-xl-4">
        <div class="sc8a">
          <h1 class="mb-3">Regular</h1>
          <p>Pembayaran melalui transfer manual langsung kepada Digital Skola.</p>
          <ul>
            <li>Pembayaran penuh tanpa bunga.</li>
            <li>Pembayaran cicilan dengan skema Digital Skola hingga 4x</li>
          </ul>
          <a href="https://wa.me/6281807835745?text=Halo,%20Saya%20ingin%20mengetahui%20mengenai%20pembayaran%20reguler%20Digital%20Skola" class="btn-sc8a text-center"><button>Info Lanjut</button></a>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="sc8b">
          <h1 class="mb-3">Loan Partner</h1>
          <p>Pembayaran dengan opsi cicilan melalui partner Digital Skola yang sudah terdaftar di OJK (Pintek).</p>
          <ul>
            <li>Cicilan kelas hingga 4x pembayaran</li>
            <li>Bunga cicilan 0%</li>
          </ul>
          <a href="https://drive.google.com/file/d/12-istIq3XtLOVqWWWGn043hwMkYka4Mg/view?usp=sharing" target="_blank" class="btn-sc8b text-center"><button>Info Lanjut</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  End section sc8 Pembayaran  -->


{% endblock %}

{% block script %}
<script>
  var acc = document.getElementsByClassName("accordionsc7");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      } 
    });
  }
</script>
<script>
  var owl = $('.owl-carousel');
    owl.owlCarousel({
    items:3,
    loop:true,
    margin: 60,
    autoplay:true,
    autoplayTimeout:2500,
    nav: true,
    navText:["<img src='assets/img/panah-kiri.png' />", "<img src='assets/img/panah-kanan.png' />"],
    autoplayHoverPause:false
  });
  $('.play').on('click',function(){
    owl.trigger('play.owl.autoplay',[1000])
  })
  $('.stop').on('click',function(){
    owl.trigger('stop.owl.autoplay')
  })
</script>
{% endblock %}

