
{% set wa = 'https://api.whatsapp.com/send?phone=6281807835745&text=Hallo,%20saya%20ingin%20bertanya%20mengenai%20kelas%20Bootcamp' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PLPKL7H');</script>
  <title>Uncover the world of digital skills with us | Digital Skola</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content="Digital Skola" name="author" />
  <meta name="description" content="Sekolah Digital" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="keywords" content="Digital Skola" />
  <link rel="icon" href="assets/logo/favicon_digitalskola.png" type="image/ico" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="assets/owlcarousel/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="assets/owlcarousel/owl.theme.default.css" />

  <link rel="stylesheet" type="text/css" href="assets/css/dekstop_style.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/phone_style.css" />

  <link rel="stylesheet" type="text/css" href="assets/fontawesome_web/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="assets/js/script.js"></script>

  {% block head %}
  {% endblock %}

</head>
<body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PLPKL7H"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

{% block nav %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light shadow" style="background-color: #FFFFFF">
  <a class="navbar-brand nb-desktop" href="index.html"><img class="icon1" src="assets/logo/logods.png" /></a>
  <div class="container">
    <a class="navbar-brand nb-mobile" href="index.html"><img class="icon2" src="assets/logo/ds.png" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-sm-end" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Kelas</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="skola-class.html">SkolaClass</a></li>
            <li><a class="dropdown-item" href="skola-expert.html">SkolaExpert</a></li>
            <li><a class="dropdown-item" href="skola-talk.html">SkolaTalk</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Untuk Perusahaan</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="skola-corporate.html">Skola Corporate</a></li>
          <li><a class="dropdown-item" href="umkm-go-digital.html">UMKM Go Digital</a></li>
        </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tentang kami</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="tim-kami.html">Tim Kami</a></li>
            <li><a class="dropdown-item" href="tutor-kami.html">Tutor Kami</a></li>
            <li><a class="dropdown-item" href="https://blog.digitalskola.com/" target="_blank">Blog</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<section class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img src="assets/logo/logo_ds2.png" class="logo_utama" />
        <h3>PT. Digitalisasi Pemuda Indonesia</h3>
        <p class="footer1a p-desktop">Jl. TB Simatupang No. 18, RW.1, Kebagusan, Kec. Ps. Minggu, Kota Jakarta Selatan <br/><a href="#" style="text-decoration: none; color: #7a7a7a; pointer-events: none;">0818 0783 5745 (Dila)</a></p>
        <p class="footer1a p-mobile">Jl. TB Simatupang No. 18, RW.1, Kebagusan, Kec. Ps. Minggu, Kota Jakarta Selatan. <a href="#" style="text-decoration: none; color: black; pointer-events: none;">0818 0783 5745 (Dila)</a></p>
        <p class="footer1b lh-1">Email: halo@digitalskola.com</p>
        <div class="footer-main">
          <a href="https://www.instagram.com/digital.skola/"><img src="assets/logo/ig.svg" class="logo_footera" /></a>
          <a href="https://www.linkedin.com/company/digital-skola/"><img src="assets/logo/in.svg" class="logo_footer" /></a>
          <a href="https://www.youtube.com/channel/UC8lUGsyZgmVDf2cWyvFJwew/videos"><img src="assets/logo/yt.svg" class="logo_footer" /></a>
        </div>
      </div>
      <div class="col-md-2">
        <p class="footer2">Class</p>
        <p class="kaki2"><a href="skola-class.html">SkolaClass</a></p>
        <p class="kaki2"><a href="skola-expert.html">SkolaExpert</a></p>
        <p class="kaki2"><a href="skola-talk.html">SkolaTalk</a></p>
      </div>
      <div class="col-md-2 footer3a">
        <p class="footer3">Perusahaan</p>
        <p class="kaki3"><a href="skola-corporate.html">SkolaCorporate</a></p>
        <p class="kaki3"><a href="umkm-go-digital.html">UMKM Go Digital</a></p>
      </div>
    </div>
  </div>
</section>

<footer class="footer-dekstop">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-7">
        <p class="footerx1">All rights reserved 2021 &copy PT Digitalisasi Pemuda Indonesia</p>
      </div>
      <div class="col-md-5">
        <span class="footerx1a"><a href="terms-of-service.html">Terms of Service</a></span>
        <span class="footerx1b"><a href="privacy-policy.html">Privacy Policy</a></span>
        <span class="footerx1c"><a href="refund-policy.html">Refund policy</a></span>
      </div>
    </div>
  </div>
</footer>
<footer class="footer-mobile">
  <p class="footerx1">All rights reserved 2021 &copy PT Digitalisasi Pemuda Indonesia<br/>
    <a href="terms-of-service.html" style="margin-left: -15px;">Terms of Service</a> <a href="privacy-policy.html" style="margin-left: 15px;"> Privacy Policy</a> <br/><a href="refund-policy.html">Refund policy</a>
  </p>
</footer>

{% endblock %}

{% block wa %}
<section class="wa section-np">
  <a href="{{ wa }}" style="position: fixed; right: -70px; bottom: -15px; z-index: 1" target="_blank"><img src="assets/logo/logo_wa.png" style="width: 250px; height: 150px;" class="d-flex" /></a>
</section>
<section class="wa-mobile section-np">
  <a href="{{ wa }}" style="position: fixed; right: -30px; bottom: -7px; z-index: 1"><img src="assets/logo/logo_wa.png" style="width: 125px; height: 75px;" class="d-flex" /></a>
</section>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="assets/owlcarousel/owl.carousel.js"></script>

{% block script %}
{% endblock %}

</body>
</html>