{% extends 'templates/template_all.html' %}
{% import 'templates/component/comp_kelas_card.html' as kelasCard %}
{% import 'templates/component/comp_testimonial.html' as testimonial %}

{% import 'templates/data.js' as data %}

{% set wa = 'https://api.whatsapp.com/send?phone=6281807835745&text=Hallo,%20saya%20ingin%20bertanya%20mengenai%20kelas%20Bootcamp' %}

{% block content %}

<!-- animasi loading -->
<div class="loader">
	<img src="assets/icon/loading0.gif" alt="Loading..." />
</div>

<!-- Start Hero section-->
<section class="hero section-np">
	<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item heroimage active">
				<img src="assets/img/background1a.jpg" class="carousel-posisi" />
				<div class="carousel-caption">
					<p class="p-hero1 fw-bold">Selamat Datang di Digital Skola</p>
					<h1 class="h-hero1">Langkahmu menuju <br/>karier digital impian <br/> dimulai dari sini</h1>
					<h1 class="h-hero1a">Langkahmu menuju karier digital impian dimulai dari sini</h1>

					<div class="button-desktop">
						<div class="col-md-2">
							<a href="#our-programs"><button type="button" class="btncarousel">Lihat Kelas</button></a>
						</div>
					</div>
					<div class="herobutton-mobile">
						<a href="#our-programs"><button type="button" class="btncarousel">Lihat Kelas</button></a> 
					</div>            
				</div>
			</div>

			<div class="carousel-item heroimage">
				<img src="assets/img/background2.jpg" class="carousel-posisi" />
				<div class="row carousel-caption">
					<p class="p-hero1 fw-bold">Siapa pun bisa jadi #bertalentadigital</p>
					<h1 class="h-hero1">Pilih, gabung, dan kuasai <br/> skill digital bersama <br/> Digital Skola</h1>
					<h1 class="h-hero1a">Pilih, gabung, dan kuasai skill digital di Digital Skola</h1>
					<div class="row button-desktop">
						<div class="col-md-2">
							<a href="#our-programs"><button type="button" class="btncarousel">Lihat Kelas</button></a>
						</div>
					</div>
					<div class="row herobutton-mobile">
						<a href="#our-programs"><button type="button" class="btncarousel">Lihat Kelas</button></a> 
					</div>
				</div>
			</div>
		</div>

		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
			<span class="visually-hidden carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
			<span class="visually-hidden carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</section>
<!-- End section Hero -->

<!--  Start section Book Class Trial Desktop Version -->
<div id="carouselExampleInterval0" class="carousel slide bookclasstrial-desktop section-np" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active" data-bs-interval="1000">
			<img src="assets/img/home_section2_desktop.jpg" class="d-block w-100" />
			<div class="row carousel-caption" style="bottom: 0; right: 15%; top: unset; left: unset;">
				<a href="https://form.jotform.com/211241780814450"><button type="button" class="btncarousel-trialclass"><i>KLIK DI SINI</i></button></a>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval0"  data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval0"  data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<!--  End section Book Class Trial  -->

<!--  Start section Book Class Trial Mobile version -->
<div id="carouselExampleIndicators" class="carousel slide bookclasstrial-mobile" data-bs-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item heroimage active">
			<img src="assets/img/home_section2_mobileOK.jpg" class="d-block w-100" />
			<div class="row carousel-caption" style="top: unset; left: 50%; transform: translate(-50%,0%); bottom: 0; right: unset; margin: 0 auto;">
				<a href="https://form.jotform.com/211241780814450"><button type="button" class="btncarousel-trialclass"><i>KLIK DI SINI</i></button></a>
			</div>
		</div>
	</div>

	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
		<span class="visually-hidden carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
		<span class="visually-hidden carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<!--  End section Book Class Trial  -->

<!--  Start section why DigitalSkola  -->
<section class="whydigitskola">
	<div class="bg-wds-left"></div>
	<div class="container">
		<div class="row row-ds d-flex align-items-center">
			<div class="col-md-6 pr-4">
				<h2 class="laptop lh-base" id="demo">Keuntungan Belajar <br/>di Digital Skola</h2>
				<h2 class="phone mb-2">Keuntungan Belajar <br/>di Digital Skola</h2>
			</div>
			<div class="col-md-6 mt-2">
				<button id="judul1" class="judul shadow mb-4" onclick="fungsi1a()">
					<img class="imgjudul" src="assets/logo/favicon_digitalskola.png" /> 
					<h5 class="judulh">Project Implementation</h5>
				</button>
				<div id="bgroup1" class="btn-group-vertical shadow mb-3" onclick="fungsi1b()">
					<button id="bgroup1a" class="ket1">
						<img class="juduli" src="assets/icon/icon_ds_bulet.png" /> 
						<h5 class="ket1h">Project Implementation</h5>
					</button>
					<button class="ket2">Bangun portofolio melalui project yang diselesaikan selama proses belajar dengan bimbingan tutor.</button>
				</div>

				<button id="judul2" class="judul shadow mb-4" onclick="fungsi2a()">
					<img class="imgjudul" src="assets/logo/favicon_digitalskola.png" /> 
					<h5 class="judulh">Professional Branding</h5>
				</button>
				<div id="bgroup2" class="btn-group-vertical shadow mb-3" onclick="fungsi2b()">
					<button id="bgroup2a" class="ket1">
						<img class="juduli" src="assets/icon/icon_ds_bulet.png" /> 
						<h5 class="ket1h">Professional Branding</h5>
					</button>
					<button class="ket2">Bantuan membangun professional branding agar profilmu makin menarik bagi para rekruter.</button>
				</div>

				<button id="judul3" class="judul shadow mb-4" onclick="fungsi3a()">
					<img class="imgjudul" src="assets/logo/favicon_digitalskola.png" /> 
					<h5 class="judulh">Internship Program</h5>
				</button>
				<div id="bgroup3" class="btn-group-vertical shadow mb-3"  onclick="fungsi3b()">
					<button id="bgroup3a" class="ket1">
						<img class="juduli" src="assets/icon/icon_ds_bulet.png" /> 
						<h5 class="ket1h">Internship Program</h5>
					</button>
					<button class="ket2">Program magang untuk mempraktikkan ilmu yang telah dipelajari sekaligus menambah portofolio sebagai profesional.</button>
				</div>

				<button id="judul4" class="judul shadow" onclick="fungsi4a()">
					<img class="imgjudul" src="assets/logo/favicon_digitalskola.png" /> 
					<h5 class="judulh">Connecting the Jobs</h5>
				</button> 
				<div id="bgroup4" class="btn-group-vertical shadow mb-3" onclick="fungsi4b()">
					<button id="bgroup4a" class="ket1">
						<img class="juduli" src="assets/icon/icon_ds_bulet.png" /> 
						<h5 class="ket1h">Connecting the Jobs</h5>
					</button>
					<button class="ket2">Bantuan penyaluran kerja untuk semua alumni SkolaClass melalui hiring partners Digital Skola.</button>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  End section 1 why DigitalSkola  -->

<!-- Start section Our Programs  -->
<!-- <div id="our-programs"></div> -->
<section class="bg-light our-programs"> 
	<div class="hidden-anchor" id="our-programs"></div>
	<div class="container">
		<div class="row our-products">
			<h3 class="pb-4 text-center">Pilihan Kelas Untukmu</h3>
		</div>
		<div class="row baris-product">
			<div class="owl-carousel owl-theme">
				
				{{ kelasCard.home(data.kelas.science) }}

				{{ kelasCard.home(data.kelas.marketing) }}

				{{ kelasCard.home(data.kelas.ui_ux) }}

				{{ kelasCard.home(data.expert.excel) }}

				{{ kelasCard.home(data.expert.tableau) }}
							
				
			</div>
		</div>
	</div> 
</section>
<!-- End section Our Programs  -->

<!-- Start Section Testimonials Desktop version -->
<section class="testimonials">
	<div class="bg-wds-right"></div>
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-md-6 testimoni1">
				<i class="fas fa-quote-left"></i>
				<h1 class="testimoni1">Apa Kata Mereka</h1>
				<p class="testimoni1a mt-3">Mari kita lihat kesan - kesan mereka yang sudah<br/> pernah mengikuti program di Digital Skola.</p>
			</div>
			<div class="col-md-6 shadow kotakputih">
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						{{ testimonial.desktop(data.testimony[0], 'active') }}
						{{ testimonial.desktop(data.testimony[1]) }}
						{{ testimonial.desktop(data.testimony[2]) }}
						{{ testimonial.desktop(data.testimony[3]) }}
						{{ testimonial.desktop(data.testimony[4]) }}
						{{ testimonial.desktop(data.testimony[5]) }}
						{{ testimonial.desktop(data.testimony[6]) }}
						{{ testimonial.desktop(data.testimony[7]) }}
						
					</div>
					<div class="testi-prev-next-control">
						<button class="carousel-control-prev" data-bs-target="#carouselExampleSlidesOnly"  data-bs-slide="prev" role="button">
							<img src="assets/img/panah-kiri.png" />
						</button>
						<button class="carousel-control-next" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next" role="button">
							<img src="assets/img/panah-kanan.png" />
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Section Testimonials -->

<!-- Start Section Testimonials Mobile version -->
<section class="testimoniMobile">
	<div class="container">
		<div class="testimoni1">
			<h1 class="testimoni1">Apa Kata <span class="garis-testimoni">Mereka</span></h1>
		</div>
		<div id="carouselExampleSlidesOnlytestimonimb" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				{{ testimonial.mobile(data.testimony[0], 'active') }}
						{{ testimonial.mobile(data.testimony[1]) }}
						{{ testimonial.mobile(data.testimony[2]) }}
						{{ testimonial.mobile(data.testimony[3]) }}
						{{ testimonial.mobile(data.testimony[4]) }}
						{{ testimonial.mobile(data.testimony[5]) }}
						{{ testimonial.mobile(data.testimony[6]) }}
						{{ testimonial.mobile(data.testimony[7]) }}
			</div>
			<div class="testi-prev-next-control">
				<button class="carousel-control-prev" data-bs-target="#carouselExampleSlidesOnlytestimonimb" data-bs-slide="prev" role="button">
					<img src="assets/img/panah-kiri.png" />
				</button>
				<button class="carousel-control-next" data-bs-target="#carouselExampleSlidesOnlytestimonimb" data-bs-slide="next" role="button">
					<img src="assets/img/panah-kanan.png" />
				</button>
			</div>
		</div>
	</div>
</section>
<!-- End Section Testimonials -->

<!-- start  section hiring partners  -->
<section class="bg-light hiringpartners">
	<div class="hidden-anchor" id="partners"></div>
	<div class="container">
		<h2 class="h2-hiring">Hiring Partner</h2>
		<p class="p-hiring text-wrap">Salah satu fasilitas unggulan yang bisa kamu dapatkan dengan mengikuti SkolaClass di Digital Skola adalah program "Connecting the Jobs". Kami  berkomitmen memberikan bantuan penyaluran kerja kepada seluruh alumni SkolaClass melalui kerja sama dengan perusahaan-perusahaan yang membutuhkan talent yang sesuai dengan skill yang telah dipelajari oleh para Techies selama pembelajaran di SkolaClass, baik kelas Digital Marketing, Data Science maupun Data Engineer.</p>
		<div class="hiringpartner-2 hp-wrapper">
			<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner" >
					<div class="carousel-item active">
						<div class="hp-item-wrapper">
							<div class="hp-item">
								<img src="assets/img/hiring/bank-sampah.png" />
							</div>
							<div class="hp-item">
								<img src="assets/img/hiring/nps.png" />
							</div>
							<div class="hp-item">
								<img src="assets/img/hiring/halodoc.png" />
							</div>
							<div class="hp-item">
								<img src="assets/img/hiring/geekhunter.png" />
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="hp-item-wrapper">
							<div class="hp-item">
								<img src="assets/img/hiring/ekrut.png" />
							</div>
							<div class="hp-item">
								<img src="assets/img/hiring/icecube.png" />
							</div>
							<div class="hp-item">
								<img src="assets/img/hiring/jawara-farm.png" />
							</div>
							<div class="hp-item">
								<img src="assets/img/hiring/swift.png" />
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="hp-item-wrapper">
							<div class="hp-item">
								<img src="assets/img/hiring/sirclo.png" />
							</div>
							<div class="hp-item">
								<img src="assets/img/hiring/sirclo-chat.png" />
							</div>
							<div class="hp-item">
								<img src="assets/img/hiring/sirclo-commerce.png" />
							</div>
							<div class="hp-item">
								<img src="assets/img/hiring/sirclo-connexi.png" />
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="hp-item-wrapper">
							<div class="hp-item">
								<img src="assets/img/hiring/sirclo-store.png" />
							</div>
						</div>
					</div>
				</div>
				<div class="hp-control">
					<button class="carousel-control-prev" type="button">
						<i class="fas fa-2x fa-angle-left" data-bs-target="#carouselExampleControls" data-bs-slide="prev"></i>
					</button>
					<button class="carousel-control-next" type="button">
						<i class="fas fa-2x fa-angle-right" data-bs-target="#carouselExampleControls"  data-bs-slide="next"></i>
					</button>
				</div>
			</div>  
		</div>
	</div>
</section>
<!-- End section hiring partners  -->

<!-- start section partner mobile -->
<section class="hp-mobile bg-light">
	<div class="hidden-anchor" id="partnersmobile"></div>
	<div class="container">
		<h2 class="h2-mobile">Hiring Partner</h2>
		<p class="p-hiringmobile">Salah satu fasilitas unggulan yang bisa kamu dapatkan dengan mengikuti SkolaClass di Digital Skola adalah program "Connecting the Jobs". Kami  berkomitmen memberikan bantuan penyaluran kerja kepada seluruh alumni SkolaClass melalui kerja sama dengan perusahaan-perusahaan yang membutuhkan talent yang sesuai dengan skill yang telah dipelajari oleh para Techies selama pembelajaran di SkolaClass, baik kelas Digital Marketing, Data Science maupun Data Engineer.</p>
		<div id="carouselExampleControlsHP" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner" >
				<div class="carousel-item active">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/bank-sampah.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/nps.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/halodoc.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/geekhunter.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/ekrut.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/icecube.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/jawara-farm.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/swift.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/sirclo.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/sirclo-chat.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/sirclo-commerce.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/sirclo-connexi.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/img/hiring/sirclo-store.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End section partner mobile -->

<!-- start  section mediapartner desktop -->
<section id="diliputoleh-desktop">
	<div class="container">
		<h2 class="text-center">Digital Skola telah diliput oleh</h2>
		<div class="hiringpartner-2 do-wrapper">
			<div id="carouselExampleControlsPD" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="hp-item-wrapper">
							<div class="hp-item">
								<img src="assets/logo/antaranews.png" />
							</div>
							<div class="hp-item">
								<img src="assets/logo/genpi.png" />
							</div>
							<div class="hp-item">
								<img src="assets/logo/itworks.png" />
							</div>
							<div class="hp-item">
								<img src="assets/logo/republika.png" />
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="hp-item-wrapper">
							<div class="hp-item">
								<img src="assets/logo/antaranews.png" />
							</div>
							<div class="hp-item">
								<img src="assets/logo/genpi.png" />
							</div>
							<div class="hp-item">
								<img src="assets/logo/itworks.png" />
							</div>
							<div class="hp-item">
								<img src="assets/logo/republika.png" />
							</div>
						</div>
					</div>
				</div>
				<div class="hp-control">
					<button class="carousel-control-prev" type="button">
						<i class="fas fa-2x fa-angle-left" data-bs-target="#carouselExampleControlsPD" data-bs-slide="prev"></i>
					</button>
					<button class="carousel-control-next" type="button">
						<i class="fas fa-2x fa-angle-right" data-bs-target="#carouselExampleControlsPD"  data-bs-slide="next"></i>
					</button>
				</div>
			</div>  
		</div>
	</div>
</section>
<!-- End section mediapartner  -->

<!-- start  section mediapartner mobile -->
<section id="mediapartnersmobile" class="mp-mobile">
	<div class="container">
		<h2 class="h2-mobile">Digital Skola telah diliput oleh</h2>
		<div id="carouselExampleControlsPD" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/logo/antaranews.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/logo/genpi.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/logo/itworks.png" />
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="hp-item-wrapper">
						<div class="hp-item">
							<img src="assets/logo/republika.png" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End section mediapartner mobile -->

<!--  start section FAQ Desktop version -->
<section class="faq-desktop pt-0">
	<div class="container">
		<div class="row">
			<h1 class="text-center judul-faq-dekstop">Frequently Asked Questions</h1>
		</div>
		<div class="row faq2">
			<button id="faq1" class="judulfaq1" onclick="faq1()">
				<i class="fas fa-angle-down ms-2 me-3"></i>Apakah saya akan mendapat sertifikat setelah pelatihan selesai?
			</button>
			<button id="faq1a" class="ketfaq1a" onclick="faq1a()">
				<i class="fas fa-angle-up ms-2 me-3"></i>Apakah saya akan mendapat sertifikat setelah pelatihan selesai?
			</button>
			<button id="faq1b" class="ketfaq1b">
			Tentu saja. Setelah pelatihan selesai, kamu akan mendapatkan sertifikat sebagai bukti bahwa kamu sudah menyelesaikan pelatihan dengan baik dan menguasai keahlian tersebut.</button>

			<button id="faq2" class="judulfaq1" onclick="faq2()">
				<i class="fas fa-angle-down ms-2 me-3"></i>Jika saya pemula dan tidak memiliki latar belakang IT, apakah saya dapat mengikuti kelas ini?
			</button>
			<button id="faq2a" class="ketfaq1a" onclick="faq2a()">
				<i class="fas fa-angle-up ms-2 me-3"></i>Jika saya pemula dan tidak memiliki latar belakang IT, apakah saya dapat mengikuti kelas ini?
			</button>
			<button id="faq2b" class="ketfaq1b">Bisa banget! Kamu nggak perlu takut kesulitan mengikuti pembelajaran karena materi serta kurikulum kami didesain untuk para pemula yang belum memiliki latar belakang IT.</button>

			<button id="faq3" class="judulfaq1" onclick="faq3()">
				<i class="fas fa-angle-down ms-2 me-3"></i>Apakah saya dapat membayar melalui cicilan/angsuran?
			</button>
			<button id="faq3a" class="ketfaq1a" onclick="faq3a()">
				<i class="fas fa-angle-up ms-2 me-3"></i>Apakah saya dapat membayar melalui cicilan/angsuran?
			</button>
			<button id="faq3b" class="ketfaq1b">Yap! Kamu bisa membayar pelatihan yang kamu ikuti dengan cicilan/angsuran tanpa bunga (bunga 0%). Jadi tidak ada biaya tambahan apapun, asyik kan?</button>

			<button id="faq4" class="judulfaq1" onclick="faq4()">
				<i class="fas fa-angle-down ms-2 me-3"></i>Apa benar ada program magang di sini?
			</button>
			<button id="faq4a" class="ketfaq1a" onclick="faq4a()">
				<i class="fas fa-angle-up ms-2 me-3"></i>Apa benar ada program magang di sini?
			</button>
			<button id="faq4b" class="ketfaq1b">Jawabannya benar, cuma di Digital Skola kamu bisa mendapatkan program magang dari pelatihan yang kamu ikuti. Jadi nantinya kamu akan memiliki dua portofolio lho, portofolio dari project implementation dan portofolio dari program magang. Lengkap kan?</button>

			<button id="faq5" class="judulfaq1" onclick="faq5()">
				<i class="fas fa-angle-down ms-2 me-3"></i>Apa sih yang dimaksud dengan fasilitas "Second Chance" ?
			</button>
			<button id="faq5a" class="ketfaq1a" onclick="faq5a()">
				<i class="fas fa-angle-up ms-2 me-3"></i>Apa sih yang dimaksud dengan fasilitas "Second Chance" ?
			</button>
			<button id="faq5b" class="ketfaq1b">Fasilitas second chance adalah kesempatan mengulang kelas yang kamu ikuti secara keseluruhan secara GRATIS tanpa biaya apapun.</button>

			<button id="faq6" class="judulfaq1" onclick="faq6()">
				<i class="fas fa-angle-down ms-2 me-3"></i>Apakah ada fasilitas penyaluran kerja setelah pelatihan selesai?
			</button>
			<button id="faq6a" class="ketfaq1a" onclick="faq6a()">
				<i class="fas fa-angle-up ms-2 me-3"></i>Apakah ada fasilitas penyaluran kerja setelah pelatihan selesai?
			</button>
			<button id="faq6b" class="ketfaqbeda">Digital Skola memiliki program yang disebut "Connecting the Jobs", yakni bantuan penyaluran kerja untuk para alumni setelah pelatihan selesai melalui Hiring Partners kami. Untuk daftar Hiring Partners bisa kamu lihat <a href="#partners">disini</a> ya</button>
		</div>
	</div>
</section>
<!--  End section FAQ desktop version  -->

<!--  start section FAQ Mobile version -->
<section class="faq-mobile">
	<div class="container">
		<div class="row">
			<h1 class="text-center judul-faq-mobile">FAQ</h1>
		</div>
		<div class="row faq2m">
			<button id="faq1m" class="judulfaq1m" onclick="faq1m()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-down ms-2 me-3"></i>    
					</div>
					<div class="col-1b col-judul-icon">
						Apakah saya akan mendapat sertifikat setelah pelatihan selesai?
					</div> 
				</div>
			</button>
			<button id="faq1am" class="ketfaq1am" onclick="faq1am()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-up ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">
						Apakah saya akan mendapat sertifikat setelah pelatihan selesai?
					</div> 
				</div>
			</button>
			<button id="faq1bm" class="ketfaq1bm">
			Tentu saja. Setelah pelatihan selesai, kamu akan mendapatkan sertifikat sebagai bukti bahwa kamu sudah menyelesaikan pelatihan dengan baik dan menguasai keahlian tersebut.</button>

			<!-- ============================================================================================ -->

			<button id="faq2m" class="judulfaq1m" onclick="faq2m()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-down ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">
						Jika saya pemula dan tidak memiliki latar belakang IT, apakah saya dapat mengikuti kelas ini?
					</div> 
				</div>
			</button>
			<button id="faq2am" class="ketfaq1am" onclick="faq2am()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-up ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">Jika saya pemula dan tidak memiliki latar belakang IT, apakah saya dapat mengikuti kelas ini?
					</div>
				</div>
			</button>
			<button id="faq2bm" class="ketfaq1bm">Bisa banget! Kamu nggak perlu takut kesulitan mengikuti pembelajaran karena materi serta kurikulum kami didesain untuk para pemula yang belum memiliki latar belakang IT.</button>

			<!-- ============================================================================================ -->

			<button id="faq3m" class="judulfaq1m" onclick="faq3m()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-down ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">
						Apakah saya dapat membayar melalui cicilan/angsuran?
					</div> 
				</div>
			</button>
			<button id="faq3am" class="ketfaq1am" onclick="faq3am()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-up ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">
						Apakah saya dapat membayar melalui cicilan/angsuran?
					</div> 
				</div>
			</button>
			<button id="faq3bm" class="ketfaq1bm">Yap! Kamu bisa membayar pelatihan yang kamu ikuti dengan cicilan/angsuran tanpa bunga (bunga 0%). Jadi tidak ada biaya tambahan apapun, asyik kan?</button>

			<!-- ============================================================================================ -->

			<button id="faq4m" class="judulfaq1m" onclick="faq4m()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-down ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">
						Apa benar ada program magang di sini?
					</div>
				</div>
			</button>
			<button id="faq4am" class="ketfaq1am" onclick="faq4am()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-up ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">
						Apa benar ada program magang di sini?
					</div>
				</div>
			</button>
			<button id="faq4bm" class="ketfaq1bm">Jawabannya benar, cuma di Digital Skola kamu bisa mendapatkan program magang dari pelatihan yang kamu ikuti. Jadi nantinya kamu akan memiliki dua portofolio lho, portofolio dari project implementation dan portofolio dari program magang. Lengkap kan?</button>

			<!-- ============================================================================================ -->

			<button id="faq5m" class="judulfaq1m" onclick="faq5m()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-down ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">
						Apa sih yang dimaksud dengan fasilitas "Second Chance" ?
					</div>
				</div>
			</button>
			<button id="faq5am" class="ketfaq1am" onclick="faq5am()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-up ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">
						Apa sih yang dimaksud dengan fasilitas "Second Chance" ?
					</div>
				</div>
			</button>
			<button id="faq5bm" class="ketfaq1bm">Fasilitas second chance adalah kesempatan mengulang kelas yang kamu ikuti secara keseluruhan secara GRATIS tanpa biaya apapun.</button>

			<!-- ============================================================================================ -->

			<button id="faq6m" class="judulfaq1m" onclick="faq6m()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-down ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">
						Apakah ada fasilitas penyaluran kerja setelah pelatihan selesai?
					</div>
				</div>
			</button>
			<button id="faq6am" class="ketfaq1am" onclick="faq6am()">
				<div class="row">
					<div class="col-1a col-icon">
						<i class="fas fa-angle-up ms-2 me-3"></i>
					</div>
					<div class="col-1b col-judul-icon">
						Apakah ada fasilitas penyaluran kerja setelah pelatihan selesai?
					</div>
				</div>
			</button>
			<button id="faq6bm" class="ketfaqbedam">Digital Skola memiliki program yang disebut "Connecting the Jobs", yakni bantuan penyaluran kerja untuk para alumni setelah pelatihan selesai melalui Hiring Partners kami. Untuk daftar Hiring Partners bisa kamu lihat <a href="#partnersmobile">disini</a> ya</button>
		</div>
	</div>
</section>
<!--  End section FAQ Mobile Version -->
{% endblock %}

{% block script %}
<script>
	window.addEventListener("load", function () {
		const loader = document.querySelector(".loader");
      loader.className += " hidden"; // class "loader hidden"
    });
  </script>
  <script>
  	$('.owl-carousel').owlCarousel({
  		margin: 20,
  		nav: true,
  		navText:["<img src='assets/img/left-arrow.svg' />", "<img src='assets/img/right-arrow.svg' />"],
  		responsive: {
  			0: {
  				items: 1
  			},
  			600: {
  				items: 3
  			},
  			1000: {
  				items: 3
  			}
  		}
  	});
  </script>
  {% endblock %}