{% extends 'templates/template_all.html' %}
{% import 'templates/component/comp_kelas_card.html' as kelasCard %}
{% import 'templates/data.js' as data %}

{% block head %}
<link rel="stylesheet" type="text/css" href="assets/css/menu_skola_general.css" />
{% endblock %}

{% block content %}
<!-- start menu skolaexpert -->
<section class="menu">
  <div class="container">
    <div class="row menu1">
      <h1>SkolaExpert</h1>
      <h4>Program ini sangat cocok untukmu yang ingin memperdalam keahlian di bidang digital!</h4>
    </div>
    <div class="row mt-4">
      {{ kelasCard.card(data.expert.excel) }}
      {{ kelasCard.card(data.expert.tableau) }}
    </div>
  </div>
</section>
<!-- end menu skolaclass -->
{% endblock %}