{% extends 'templates/template_all.html' %}
{% import 'templates/component/comp_kelas_card.html' as kelasCard %}
{% import 'templates/data.js' as data %}

{% block head %}
<link rel="stylesheet" type="text/css" href="assets/css/menu_skola_general.css" />
{% endblock %}

{% block content %}
<!-- start menu skolaClass -->
<section class="menu">
  <div class="container">
    <div class="row menu1">
      <h1>SkolaClass</h1>
      <h4>Pelatihan intensif selama 3 bulan untuk menjadikanmu mahir di bidang sesuai minatmu!</h4>
    </div>
    <div class="row mt-4">
      {{ kelasCard.card(data.kelas.science) }}
      {{ kelasCard.card(data.kelas.marketing) }}
      {{ kelasCard.card(data.kelas.ui_ux) }}
    </div>
    <div class="row">
      {{ kelasCard.card(data.kelas.engineer) }}
    </div>
  </div>
</section>
<!-- end menu skolaclass -->
{% endblock %}
