{% extends 'templates/skola-expert-template.html' %}

{% import 'templates/testimony.js' as testimony %}
{% import 'templates/tutor.js' as tutor %}


{% set expertDetail = {
  wa: 'https://api.whatsapp.com/send/?phone=6281807835745&text=Halo+kak%2C+Saya+tertarik+dan+ingin+mendaftar+kelas+Skola+Expert+Excel&app_absent=0',
  hero: {
    title: 'LEARN DATA ANALYSIS WITH EXCEL',
    text: 'Kuasai pengolahan dan analisa data dengan Microsoft Excel hanya dalam 4 hari',
    image: 'assets/img/SE-Excel-bg.jpg'
  },
  about: {
    text: 'Kelas Skola Expert Excel didesain untuk para pemula yang ingin menguasai Microsoft Excel. Pada kelas ini kamu akan memahami teknik dan fungsi pada Excel yang paling krusial untuk analisis data yang cepat dan fokus pada otomatisasi, mengaplikasikan teknik-teknik analisis pada datasets di Excel hingga menyajikan data dengan formatting yang efektif dan efisien dalam manipulasi dan preparasi datasets. Sesi belajar akan diadakan sebanyak 4x pertemuan dengan metode belajar secara praktik dengan bimbingan langsung dari praktisi industri akan membuatmu mahir dalam menggunakan Microsoft Excel hanya dalam tiga hari!',
    time: '2 Agustus 2021 <br/> 4 sesi pertemuan <br/>19.00 - 21.00 WIB (After Office Hour)',
    place: 'Online via <a href="#"><img class="logo" src="assets/icon/zoom_logo.png" /></a>',
    tutor: {
      name: 'Nazmi Haddyat Tamara',
      image: 'assets/img/tutor-se/Tutor-Excel.png',
      desc: 'Research and Data Analyst<br/>Katadata Insight Center'  
    },
    member: 'Para pelaku bisnis, Karyawan dalam bidang keuangan.<br/>Data Analyst, Researcher atau Mahasiswa.<br/>Orang-orang yang memanfaatkan Ms.Excel dalam keseharian pekerjaannya.'
  },
  kurikulum: {
    left: [
      {
        title: 'Conditional Formatting',
        text: 'Memahami cara dalam melakukan highlight cells dalam Excel dengan warna tertentu berdasarkan suatu nilai tertentu.'
      },
      {
        title: 'Simple Formula',
        text: 'Mengerti beberapa formula-formula dasar yang sudah built in di Excel dan membuat formula baru yang belum terdefinisikan di Excel.'
      },
      {
        title: 'Vlookup',
        text: 'Mempelajari cara bagaimana menemukan berbagai insights data pada tabel atau beberapa rentang baris data.'
      },
      {
        title: 'Logical Functions',
        text: 'Menentukan cara dalam memanfaatkan beberapa fungsi logika dengan berbagai use cases pengaplikasiannya dalam mengolah data.'
      }
    ],
    right: [
      {
        title: 'Forecast',
        text: 'Membuat suatu model prediksi sederhana untuk menentukan suatu nilai berdasarkan trends nilai yang sudah ada.'
      },
      {
        title: 'Insert Pivot Table and Pivot Charts',
        text: 'Membuat dan menggunakan pivot table excel  yang sederhana dan kompleks untuk membuat laporan dan analisis data dengan mudah dan cepat serta mempresentasikannya dalam bentuk visualisasi yang mudah dipahami.'
      },
      {
        title: 'Create Various Pivot Table Based on Case Study',
        text: 'Aplikasi penggunakan Pivot Table pada beberapa uses case yang umum maupun jarang dilakukan.'
      }
    ]
  },
  testimony: testimony.excel,
  register: {
    title: 'Sudah siap belajar Microsoft Excel?',
    price: {
      amount: 'Rp 699.000',
      discount: 'Rp 350.000'
    },
    detail:[
      'Kelas dimulai Kamis 2 Agustus 2021',
      '4 sesi Pembelajaran Online',
      'Kelas dilaksanakan Kamis, Jumat, & Sabtu',
      '19.00 - 21.00 WIB (After Office Hour)'
    ],
    benefit:[
      'Sertifikat dari Digital Skola',
      'Kurikulum berbasis industri',
      'Akses materi & rekaman selamanya',
      'Fokus pada praktik'
    ],
    url: 'https://form.jotform.com/211091584850455'
  }
}
%}