{% extends 'templates/skola-class-template.html' %}

{% import 'templates/testimony.js' as testimony %}
{% import 'templates/tutor.js' as tutor %}

{% set kelasDetail = {
  name: 'DATA ENGINEER',
  wa: 'https://wa.me/6281807835745?text=Halo%20kak,%20Saya%20tertarik%20dan%20ingin%20mendaftar%20kelas%20Skola%20Class%20Data%20Engineer',
  hero: {
    image: 'assets/img/de.jpg',
    desc: 'Kembangkan keahlianmu di bidang Data Engineering dalam 3,5 bulan dan mulai karier sebagai seorang Data Engineer!',
    time: 'Weekday ClassX',
    place: 'Online via <a href="#"><img class="logo" src="assets/icon/zoom_logo.png" style="width: 12%; height: auto;"></a>'
  },
  why: {
    title: 'Mengapa kamu harus belajar Data Engineer?',
    list: [
    {
        image: 'assets/icon/de_peluangpesat.png',
        title: 'Pertumbuhan Peluang<br/>yang Pesat',
        text: 'Menurut riset Interview Query, peluang pekerjaan Data Engineer di seluruh dunia meningkat secara signifikan setiap tahun.'
      },
      {
        image: 'assets/icon/de_industriluas.png',
        title: 'Bidang Industri <br/> yang Luas',
        text: 'Data Engineer dibutuhkan berbagai industri mulai dari teknologi, keuangan hingga pemerintahan.'
      },
      {
        image: 'assets/icon/tanpalatarbelakang_ds_de.png',
        title: 'Tidak Harus <br/> Latar Belakang IT',
        text: 'Kamu yang tidak punya latar belakang IT bisa belajar data engineer dari 0 di Digital Skola.'
      }
    ]
  },
  modul:{
    desc: 'Belajar dengan materi pembelajaran yang menyeluruh dalam 3 bulan',
    left: [{
      title: 'Introduction to Data Engineer – Big Data',
      text: 'Pada sesi ini kita akan berkenalan dengan <i>data engineer</i>. Apakah data engineer itu? Bagaimana proses, metodologi, dan alur kerjanya? Kita juga akan membahas mengenai Big Data dan <i>tools</i> yang digunakan beserta peran dan tanggung jawab seorang data engineer dalam suatu perusahaan.'
    },{
      title: 'Programming Basic',
      text: 'Pada sesi ini, kita akan belajar teori dan praktik pada tingkat <i>basic</i> pada bahasa pemrograman Python.'
    },{
      title: 'Introduction to Networking',
      text: 'Melalui sesi ini, kamu akan memperoleh pemahaman dasar mengenai <i>network</i> dan internet.'
    },{
      title: 'Linux/Unix and System Administration',
      text: 'Sudah pernah mendengar tentang Linux? Pada sesi kali ini, pembahasan akan fokus pada topik terkait Linux mulai dari perintah dasar hingga proses Linux.'
    },{
      title: 'Docker & Docker Compose',
      text: 'Pada sesi ini kita akan belajar semua hal mengenai Docker'
    },{
      title: 'Introduction to Git & Github',
      text: 'Dalam sesi ini kita akan mempelajari secara mendasar mengenai <i>Version Control System</i>. Selain itu, akan ada pembahasan secara khusus tentang Git dan Github.'
    },{
      title: 'Python Programming',
      text: 'Melanjutkan pembahasan mengenai Python, pada sesi ini, kita akan masuk pada tahap <i>intermediate</i> sampai <i>advanced.</i>'
    },{
      title: 'Database SQL',
      text: 'Pada sesi ini, kita akan mengulik segala hal tentang data dan juga database. Termasuk di dalamnya mengenai SQL dan DBMS serta pengenalan tentang <i>cloud computing.</i>'
    },{
      title: 'Database NoSQL',
      text: 'Sesi ini akan membantumu memahami dasar-dasar NoSQL.'
    },{
      title: 'ETL from Scratch with Python',
      text: 'Pada sesi ini, kita akan fokus pada materi mengenai cara membuat <i>database, program structure, scrapping website, cleaning,</i> dan <i>storing data</i> ke <i>database.</i>'
    },{
      title: 'Data Warehouse and Data Modelling',
      text: 'Bersiaplah! Dalam sesi ini kamu akan belajar banyak hal mulai dari relational model concept hingga <i>dimensional modelling.</i>'
    },{
      title: 'NoSQL Data Model',
      text: 'Mari kita kulik lebih jauh tentang NoSQL.  Pada sesi ini,  kita akan membahas mengenai NoSQL data model.'
    }
    ],
    right:[
      {
        title:'Airflow as Data Orchestration Tools',
        text:'Mari kita beralih pada Airflow. Pada sesi ini kita akan belajar tentang Airflow, mulai dari <i>basic concepts</i> hingga <i>operations.</i>'
      },
      {
        title:'Java',
        text:'Sudah sering mendengar mengenai Java? Mari kita jelajahi pentingnya Java bagi seorang data engineer. Kita akan mempelajari <i>basic</i> Java hingga unit <i>testing</i> dan ETL menggunakan Java.'
      },
      {
        title:'Hadoop',
        text:'Setelah sesi ini, kamu dipastikan akan menjadi lebih ‘akrab’ dengan Hadoop. Kita akan mengupas segala hal tentang Hadoop, mulai dari Hadoop Fundamental hingga Deep Dive Hadoop.'
      },
      {
        title:'MapReduce',
        text:'Melalui sesi ini, kamu akan memperoleh pemahaman mendasar tentang MapReduce hingga MapReduce Deep Dive.'
      },
      {
        title:'Spark Fundamentals & API',
        text:'Mari berkenalan dengan Spark, mulai dari Spark Architecture hingga RDDS.'
      },
      {
        title:'Spark SQL (including Data Frame and Datasets)',
        text:'Masih terkait Spark, pada sesi ini kita akan melakukan pembahasan lanjutan mengenai Data Frame & Datasets.'
      },
      {
        title:'Building Datalake with Spark',
        text:'Selesai dengan Spark SQL, pembahasan akan berlanjut pada Building Datalake with Spark.'
      },
      {
        title:'Machine Learning with Spark',
        text:'Mari kita lanjutkan pembahasan mengenai Spark dalam proses Machine Learning. Sesi ini akan membantumu memahami mengenai MLib hingga <i>recommendation.</i>'
      },
      {
        title:'Other Big Data Tools',
        text:'Mari melangkah lebih jauh. Dalam sesi kali ini kita akan fokus pada pengenalan tentang <i>tools</i> lain yang umumnya digunakan oleh data engineer, seperti Hive dan Sqoop.'
      },
      {
        title:'Mentor Experience Sharing',
        text:'Salah satu sesi seru yang kamu tunggu-tunggu. Dalam sesi ini, para mentor akan berbagi pengalaman dan wawasan mengenai <i>business knowledge.</i>'
      },
      {
        title:'Career Coaching and Mentoring',
        text:'Manfaatkan sesi ini untuk mencari tahu berbagai hal seputar dunia HR. Kamu bisa mengajukan berbagai pertanyaan seperti <i>‘How to make a powerful CV?’ ‘How to make a good impression in an interview?’</i> atau <i>‘How to express your desired benefits in an interview?’</i> dan berbagi pengalaman terkait wawancara kerja sebagai seorang data engineer.'
      }
    ]
  },
  tutor: tutor.engineer,
  testimony: testimony.engineer,
  register: {
    title: 'Siap Memulai Karier<br/>menjadi Data Engineer?',
    price: 'Rp 8.000.000',
    detail: [
      'Batch 1 dimulai Senin, 1 Maret 2021',
      '42 Sesi Pembelajaran Online',
      'Weekday Class (Senin, Rabu, Jumat)',
      '19.00 - 21.00 WIB (After Office Hour)'
    ],
    benefit: ['Sertifikat dari Digital Skola',
            'Kurikulum berbasis industri',
            'Akses Materi & Rekaman Selamanya',
            'Coaching & Mentoring Karir oleh HR Expert',
            'Pilihan Cicilan 0%',
            'Pengembangan Portofolio & Brand Personal',
            'Konsultasi Dengan Tutor Diluar Jam Kelas',
            'Sesi Diskusi Projek Kaggle Private Bersama Tutor (Online Live Class)',
            'Job Connector (Prioritas)',
            'Program "Second Chance" Kelas, Gratis!',
            'Program Magang'
              ],
    url: 'https://form.jotform.com/211091792568462'      
  }
}
%}

{% set wa = kelasDetail.wa %}