{% macro home(data) %}
<div class="item">
	<div class="card card-ourproducts">
		<div class="inner">
			<img src="{{ data.image }}" class="card-img-top img-thumbnail" />
		</div>
		<div class="card-body">
			<h5 class="card-titlei fw-bold">{{ data.title }}</h5>
			<p class="card-texti d-flex justify-content-center">{{ data.text }}</p>
			<a href="{{ data.url }}"><button class="buttonproducts">Lihat Kelas</button></a>
		</div>
	</div>
</div>
{% endmacro %}

{% macro card(data) %}
<div class="col-md-4">
	<div class="card card-ourproductsmenusc img-thumbnail">
		<a href="skola-class-data-science.html">
			<div class="inner foto" style="background-image: url({{ data.image }});">
				<p class="p-card">{{ data.status }}</p>
			</div>
		</a>
		<div class="card-body">
			<h5 class="card-title-menusc fw-bold">{{ data.subtitle }}</h5>
			<p class="card-text d-flex justify-content-center">{{ data.text }}</p>
			<a href="{{ data.url }}"><button type="button" class="buttonproducts-menusc">Lihat Kelas</button></a>
		</div>
	</div> 
</div>
{% endmacro %}