{% macro desktop(data, active) %}
<div class="carousel-item {{ active }}">
	<div class="row mt-2 ms-2 me-4">
		<h4 class="lh-sm testimoni1b" style="font-weight: bold;">{{ data.testi }}</h4>
	</div>
	<div class="row testimonifotodanid">
		<div class="col-md-3">
			<img src="{{ data.image }}" class="d-block w-10 rounded-circle ms-3" style="height: 100px" alt="...">
		</div>
		<div class="col-md-9 mt-3">
			<h5 style="font-weight: bold;">{{ data.name }}</h5>
			<p class="p_testimoni">{{ data.peserta }} - {{ data.kelas }}</p>
		</div>
	</div>
</div>
{% endmacro %}

{% macro mobile(data, active) %}
<div class="carousel-item {{ active }}">
	<div class="row mt-2">
		<ul>
			<li class="li-1a">
				<img src="{{ data.image }}" class="rounded-circle" alt="...">  
			</li>
			<li class="li-1b ms-2">
				<h5 class="testimoni-nama">{{ data.name }}</h5>
				<p class="p_testimoni">{{ data.peserta }} -<br>{{ data.kelas }}</p> 
			</li>
		</ul>
	</div>
	<div class="row mt-2 kotaktestimoni">
		<i class="fas fa-quote-left" style="position: absolute;"></i>
		<h4 class="testimoni1b">{{ data.testi }}</h4>
	</div>
</div>
{% endmacro %}