{% macro desktop(data, active) %}
<div class="item">
	<a href="{{ data.linkedin }}" style="text-decoration: none; color: black">
		<div class="sc-tutor text-center">
			<img src="{{ data.image }}" />
			<h1 id="tutor-h1a">{{ data.name }}</h1>
			<p>{{ data.desc | safe }}</p>
			<br/>
			<i class="fab fa-linkedin"></i>
		</div>
	</a>
</div>
{% endmacro %}

{% macro mobile(data, active) %}
<div class="carousel-item {{ active }}" data-bs-interval="2000">
	<a href="{{ data.linkedin }}" style="text-decoration: none; color: black">
		<div class="col-md-4 sc-tutor text-center">
			<img src="{{ data.image }}" />
			<h1 id="tutor-h1a">{{ data.name }}</h1>
			<p>{{ data.desc | safe }}</p>
			<i class="fab fa-linkedin"></i>
		</div>
	</a>
</div>
{% endmacro %}