{% macro fragment(item, index) %}
<div class="accordion-item">
	<h2 class="accordion-header" id="heading{{ index }}">
	  <button class="btn-accordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ index }}" aria-expanded="false" aria-controls="collapse{{ index }}">
	  <i class="fas fa-chevron-down me-3"></i> <b>{{ item.title }}</b>
	  </button>
	</h2>
	<div id="collapse{{ index }}" class="accordion-collapse collapse shadow" aria-labelledby="heading{{ index }}" data-bs-parent="#accordionExample">
	  <div class="accordion-body">{{ item.text | safe }}
	  </div>
	</div>
</div>
{% endmacro %}